* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #1F2937;
    }

    #header {
    padding: 20px;
    background-color: #f0f0f0;
    border-bottom: 2px double #333; /* Adjust the color and thickness as needed */
    }

    #header ul {
    list-style-type: none;
    text-align: right;
    }

    #header a {
    text-decoration: none;
    background-color: #707570; /* Adjust the background color as needed */
    color: white; /* Adjust the text color as needed */
    padding: 10px 10px; /* Adjust padding as needed */
    border-radius: 5px; /* Adjust the border-radius as needed */
    transition: background-color 0.3s; /* This will make the color change smooth */
    }

    #header a:hover {
    background-color: #45a049; /* Adjust the hover background color as needed */
    }

    #header li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    }


    .content {
        background-color: rgb(170, 188, 142);
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-direction: column;
        padding: 100px;
        /* border-top: 2px double #333;  */ 
    }

    .content li{
        padding: 10px;
    }